<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>菜单</span></a>
        <div id="menu">
          <ul>
            <li><a href="{{ site.baseurl }}/">主页</a></li>
{% for link in site.links1 %}
			 {% assign count = 0 %}
			 {% if link.type == site.blog_1 %}
				 {% for post in site.posts %}
				   {% assign count = count | plus: 1 %}
				 {% endfor %}
				 <li><a  href="{{ link.url }}"  data-hover="{{link.name}}">{{ link.name }}({{count}})</a></li>
			 {% endif %}

			 {% if link.type == site.blog_2 %}
			 <li><a  href="{{ link.url }}"  data-hover="{{link.name}}">{{ link.name }}</a></li>
			 {% endif %}	

{% endfor %}			 
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
